#application.layout
  width 1024px
  margin 0px auto
  box-sizing border-box

  > .menu
    bac clr hsla(0,0,0,0.5)
    > .item
      hei 37

  > .search
    > .car
      width 400px

    > .brand
      width 600px
      margin-left 24px

  > .yield
    bac clr white

  padding-bottom 90px
  > .footer
    position absolute
    bottom 0px
    left 0px
    height 90px
    width 100%
    bac clr hsla(0,0,0,0.5)
